@inject SignInManager<AppUser> signInManager
@model HomeViewModel


<h1>Swift Food Order</h1>
<p>Available Meals</p>
@{
    if (TempData["Message"] != null)
    {
        <p class="alert alert-success"> @TempData["Message"]</p>
    }
}

@foreach (var food in Model.Foods)
{
    <div class="card">
        <div class="card-header">
            @food.Id
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    @if (@food.Picture != null)
                    {
                        <img src="~/images/@food.Picture" width="100" height="100" />
                    }
                    else
                    {
                        <img src="~/images/no_image.png" width="100" height="100" />
                    }
                </div>
                <div class="col-md-3">
                    <p>@food.Name</p>
                    <p>@food.Description</p>
                    <p><span>N</span>@food.Price</p>
                </div>
                <div class="col-md-7">
                    <a asp-action="Details" asp-route-id="@food.Id" class="btn btn-info">Order</a>
                    @if (signInManager.IsSignedIn(User) && (User.IsInRole("Manager") || User.IsInRole("Admin")))
                    {
                        <a asp-action="Update" asp-route-id="@food.Id" class="btn btn-info">Edit</a>
                        <form method="post" asp-action="DeleteFood" asp-route-id="@food.Id">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
}



